.nav-signature {
    position: relative;
    overflow: hidden;
    height: 0px;
    color: #eee;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}

.nav-signature * {
    color: inherit;
}

.nav-signature .hs-page-width-normal * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-signature .nav-signature-wrap {
    position: relative;
    top: 0;
}

.nav-signature .nav-signature-content {
    padding-bottom: 60px;
}

#hs-nav-v3 .nav-signature h1 {
    text-align: center;
    font-size: 2em !important;
    text-transform: uppercase;
    font-weight: 100;
    margin: 60px 0 2em .2em;
    letter-spacing: .2em;
}

.nav-signature .nav-content-wrap {
    position: relative;
}

.nav-signature .nav-signature-content {
    width: 48%;
}

@media (max-width: 768px) {
    .nav-signature .nav-signature-content {
        width: auto;
    }
}

.nav-signature .nav-signature-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
}

@media (max-width: 768px) {
    .nav-signature .nav-signature-form {
        width: auto;
        position: static;
    }
}

.nav-signature .nav-signature-form .hs-form.stacked .actions {
    padding: 1em 0;
    margin: 0;
}

.nav-signature .nav-signature-form .hs-form.stacked label {
    color: inherit;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .3em;
    font-size: 14px;
    margin: 0 0 4px;
}

.nav-signature .nav-signature-form .hs-form.stacked .hs-form-radio {
    width: 50%;
    display: inline-block;
    position: relative;
    margin-top: 14px;
}

.nav-signature .nav-signature-form .hs-form.stacked .hs-form-radio label {
    padding-left: 30px;
    cursor: pointer;
}

.nav-signature .nav-signature-form .hs-form.stacked .hs-form-radio input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    overflow: visible;
}

.nav-signature .nav-signature-form .hs-form.stacked .hs-form-radio input[type="radio"]:after {
    top: 9999px;
    left: 9999px;
    position: absolute;
    content: ' ';
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #DDD;
    border-radius: 1px;
    margin-top: -2px;
    line-height: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-signature .nav-signature-form .hs-form.stacked .hs-form-radio input[type="radio"]:checked:after {
    content: '\2713';
    padding-left: 2px;
}
#hs-nav-v3 .nav-signature .nav-signature-form .hs-form .hs-button,
#hs-nav-v3 .nav-signature .nav-signature-form .hs-form .hs-button:hover,
#hs-nav-v3 .nav-signature .nav-signature-form .hs-form .hs-button:active {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    background: #c9c9c9;
    color: #444;
    padding: 1em 2em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px !important;
    text-transform: uppercase;
    letter-spacing: .1em;
}

#hs-nav-v3 .nav-signature .nav-signature-form input.hs-input,
#hs-nav-v3 .nav-signature .nav-signature-form textarea,
#hs-nav-v3 .nav-signature .nav-signature-form input.hs-input:focus,
#hs-nav-v3 .nav-signature .nav-signature-form textarea:focus {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    background: #202020;
    color: #fff;
    height: 3em;
    padding: .5em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .03em;
}

#hs-nav-v3 .nav-signature .nav-signature-form textarea,
#hs-nav-v3 .nav-signature .nav-signature-form textarea:focus {
    height: 7em;
    resize: none;
    margin-bottom: 3px;
}

#hs-nav-v3 .main-nav .nav-links-right > li > a[data-nav-signature-opener].current-nav-item:after {
    display: none
}

body.nav-signature-opened > :not(#hs-nav-v3) {
    -webkit-filter: blur(5px);
    -webkit-transition: -webkit-filter .5s 1s;
    -webkit-transform: translateZ(0);
}

body.nav-signature-opened > .widearea-overlayLayer {
    -webkit-filter: none;
}
.widearea-overlayLayer textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.widearea-icon.changeTheme {
    display: none;
}

.widearea-icons {
    right: 5px;
}

