h2 {
    font-weight: bold;
    font-size: 20px;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

#main {
    text-align: center;
    margin: 20px auto;
}

.top-section {
    display: block;
    margin-bottom: 20px;
    padding-top: 23px;
    border-top: 1px solid #eee;
}

#main h1 {
    margin: 30px 0;
}

#main h1, #main p {
    margin-left: 15px;
    margin-right: 15px;
}

#main p {
    font-size: 11px;
    line-height: 2;
}

#logo {
    width: 115px;
    height: 43px;
    margin: 13px auto;
    background: url('logo.png') no-repeat;
    text-indent: -99999px;
}

#logo h1 {
    margin: 0;
}

#repos {
    margin-bottom: 20px;
    padding: 0px;
}

div.header {
    height: 130px;
}

div.header h1, div.header p {
    margin: 10px 15px 0;
}

div.header h1 {
    margin-bottom: 10px;
}

.large-number {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
    margin-right: 18px;
    padding-top: 20px;
    flaot: left;
    display: inline-block;
    text-align: center;
}

a.large-number:link, a.large-number:visited {
    color: inherit;
}

.large-number:hover {
    text-decoration: none;
    color: #444;
}

.large-number #num-repos, .large-number #num-members {
    font-size: 50px;
    font-weight: normal;
    line-height: 30px;
    display: block;
    text-align: center;
}

#recently-updated {
    padding: 10px 0px 0px 30px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

#recently-updated h1 {
    font-size: 20px;
    margin: 0px;
}

#recently-updated h1 a {
    font-weight: normal;
}

#recently-updated-repos {
    list-style: none;
    padding: 0;
}

#recently-updated-repos li {
    line-height: 1.5;
}

#recently-updated-repos li span {
    display: inline-block;
    padding: 0 1px;
}

#recently-updated-repos li span {
    font-size: 12px;
}

#recently-updated-repos li span.name {
    padding: 0 6px 0 0;
    font-size: 12px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
    color: #999;
}

#repos.small-list {
    margin-top: 40px;
}

.repo {
    display: block;
    position: relative;
    padding: 10px;
    margin: -10px;
    margin-bottom: 20px;
}

.repo:hover {
    background: #eee;
}

.repo.selected {
    background: #eee;
}

.repo h2 {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 20px;
}

.docs-link, .github-link {
    font-size: 12px;
    margin-left: 10px;
}

.repo h2, .repo h3, .repo p {
    margin: 0;
}

.repo p {
    position: absolute;
    left: 35%;
    top: 13px;
    display: block;
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 110px;
}

@media (max-width: 960px) {
    .docs-link {
        display: none;
    }
}

@media (max-width: 767px) {
    .repo p {
        position: static;
        width: 100%;
        padding-right: 0;
        white-space: pre-line;
    }

    .repo h2 {
        width: 100%;
        padding-right: 110px;
    }

    .docs-link, .github-link {
        display: none;
    }
}

.repo h3 {
    position: absolute;
    top: 18px;
    right: 36px;
    color: #999;
    font-size: 12px;
}

.repo .languange-indicator {
    content: '';
    position: absolute;
    right: 11px;
    top: 19px;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #888888;
    pointer-events: none;
}

.repo.javascript .languange-indicator, .repo.coffeescript .languange-indicator {
    background-color: #fe7722;
}

.repo.ruby .languange-indicator {
    background-color: #cc1100;
}

.repo.java .languange-indicator {
    background-color: #6aad2d;
}

.repo.python .languange-indicator {
    background-color: #3288e6;
}

.repo.css .languange-indicator {
    background-color: #7ac9de;
}

.repo.php .languange-indicator {
    background-color: rgb(159, 96, 240);
}

.hero-unit {
    margin: 40px auto;
}

.hero-unit h1 {
    display: block;
    text-align: center;
    font-size: 48px;
    text-shadow: none;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: -14px;
    margin-top: 0px;
}

.hero-unit h2 {
    display: block;
    text-align: center;
    font-size: 28px;
    color: #888;
    font-weight: 200;
}

#members-list {
    padding-bottom: 20px;
}

#members-list h2 {
    margin-top: 0;
}

#members-list a {
    display: block;
    margin-bottom: 20px;
    width: 25%;
    float: left;
    text-align: center;
}

#members-list a {
    display: block;
    margin-bottom: 30px;
    width: 25%;
    float: left;
    text-align: center;
}

#members-list img {
    height: 100px;
    width: 100px;
}

#members-list.small-list {
    text-align: center;
    margin-bottom: 20px;
}

#members-list.small-list a, #members-list.small-list img {
    float: none;
    height: 26px;
    width: 26px;
    margin-bottom: 0px;
    display: inline;
    display: inline-block;
}

#members-list.small-list h2 {
    display: none;
}

@media (max-width: 767px) {
    #members-list a {
        width: 50%
    }
}

@media (max-width: 767px) {
    #recently-updated {
        padding-left: 0px;
    }
}